
body {
    overflow: auto;
    text-align: center;
    background-color: black;
    overscroll-behavior: contain;
    touch-action: manipulation;
}

main {
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 56px;
}

nav {
    position: static;
}

.draggable {
    color: white;
    touch-action: none;
    user-select: none;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

    .draggable::after {
        display: block;
        content: attr(data-label);
        position: relative;
        bottom: 25px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        text-align: center;
        width: 200%;
        left: -50%;
    }

    .draggable.no-image {
        border-radius: 50%;
    }

        .draggable.no-image.dragging {
            box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 20px 0px;
        }

#removeTokens:checked {
    background-color: #dc3545;
    border-color: #dc3545;
}

#removeTokens ~ label {
    color: white;
}

#removeTokens:checked ~ label {
    color: #dc3545;
}

.twitter-typeahead {
    width: 100%;
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion p {
        margin: 0;
    }


.resize-drag {
    border-radius: 8px;
    background-color: rgb(34 153 238 / 50%);
    touch-action: none;
    /* This makes things *much* easier */
    box-sizing: border-box;
}
